################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/LTI.BookStore/.vs/LTI.BookStore
/LTI.BookStore/LTI.BookStore/bin/Debug/netcoreapp3.1
/LTI.BookStore/LTI.BookStore/obj
